@model IEnumerable<StudentFormMVC.Models.Student>

@{
    ViewData["Title"] = "Student List";
}

<h2>Registered Students</h2>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
            <th>Course</th>
            <th>Age</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var student in Model)
        {
            <tr>
                <td>@student.Id</td>
                <td>@student.Name</td>
                <td>@student.Email</td>
                <td>@student.Course</td>
                <td>@student.Age</td>
            </tr>
        }
    </tbody>
</table>

<a asp-action="Create" class="btn btn-success">Add New Student</a>
