@model ShoppingAppMVC.Models.Shopping

@{
    ViewBag.Title = "Create Product";
}

<h2>Create Product</h2>

@using (Html.BeginForm("Create", "Shoppings", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <hr />

        <div class="form-group">
            @Html.LabelFor(m => m.ProductName)
            @Html.TextBoxFor(m => m.ProductName, new { @class = "form-control" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Quantity)
            @Html.TextBoxFor(m => m.Quantity, new { @class = "form-control", type = "number" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Price)
            @Html.TextBoxFor(m => m.Price, new { @class = "form-control", type = "number", step = "0.01" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Description)
            @Html.TextAreaFor(m => m.Description, new { @class = "form-control" })
        </div>

        <div class="form-group">
            @Html.Label("Product Image")
            <input type="file" name="ProductIMG" class="form-control" />
        </div>

        <div class="form-group">
            @Html.Label("Size")
            <div>
                @foreach (var size in new[] { "XS", "S", "M", "L", "XL" })
                {
                    <label class="radio-inline">
                        <input type="radio" name="Size" value="@size" /> @size
                    </label>
                }
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Discount)
            @Html.TextBoxFor(m => m.Discount, new { @class = "form-control", type = "number", step = "0.01" })
        </div>

        <button type="submit" class="btn btn-primary">Save</button>
        @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-default" })
    </div>
}
