@model ShoppingAppMVC.Models.Shopping

@{
    ViewBag.Title = "Edit Product";
}

<h2>Edit Product</h2>

@using (Html.BeginForm("Edit", "Shoppings", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <hr />
        @Html.HiddenFor(m => m.ProductID)

        <div class="form-group">
            @Html.LabelFor(m => m.ProductName)
            @Html.TextBoxFor(m => m.ProductName, new { @class = "form-control" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Quantity)
            @Html.TextBoxFor(m => m.Quantity, new { @class = "form-control" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Price)
            @Html.TextBoxFor(m => m.Price, new { @class = "form-control" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Description)
            @Html.TextAreaFor(m => m.Description, new { @class = "form-control" })
        </div>

        <div class="form-group">
            @Html.Label("Current Image")
            <br />
            <img src="@Url.Content(Model.ProductIMG)" width="80" height="80" />
            <br />
            @Html.Label("Change Image")
            <input type="file" name="ProductIMG" class="form-control" />
        </div>

        <div class="form-group">
            @Html.Label("Size")
            <div>
                @foreach (var size in new[] { "XS", "S", "M", "L", "XL" })
                {
                    <label class="radio-inline">
                        <input type="radio" name="Size" value="@size" @(Model.Size == size ? "checked" : "") /> @size
                    </label>
                }
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Discount)
            @Html.TextBoxFor(m => m.Discount, new { @class = "form-control" })
        </div>

        <button type="submit" class="btn btn-primary">Update</button>
        @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-default" })
    </div>
}
